html {
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    /* width: 500px;
    margin-left: 450px;
    text-align: center;
    color: whitesmoke;
    text-decoration-line: underline;
    text-decoration-color: dimgray;
    text-decoration-style: unset;
    font-size: 40px; */
    /* border-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-bottom-style: double;
    border-bottom-width: 10px;
    border-left-style: double;
    border-left-width: 35px;
    border-right-style: double;
    border-right-width: 35px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-top-style: double;
    border-top-width: 10px;
    border-style: groove;
    border-color: dimgray; */
    
}
input {
    color: whitesmoke;
    background-color: black;
    width: 125px;
    height: 25px;

}

/* h2 {
    color: whitesmoke;
    border: 5px inset whitesmoke;
  } */

table {
    width: 60%;
    text-align: center;
}
  /* }
  table, th, td {
    border: 5px inset whitesmoke;
    border-collapse: collapse;
    height: 2.15em;
    background-color: dimgray;
  } */

  .completed {
    color: black;
    background-color: green;
  }